<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Nodejs Website</title>
    <link href='https://fonts.googleapis.com/css?family=Cinzel Decorative' rel='stylesheet'>
    <link rel="stylesheet" href="/static/css/style.css">
</head>
<body>
    <center>
        <div class="overlay">
            <h1>NOTES</h1>
            <form method="POST" action="/post">
                <input name="date" class="input-form" type="date" placeholder="Date" required>
                <input name="subject" class="input-form" type="text" placeholder="Subject Title" required>
                <input name="todo" class="input-form" type="text" placeholder="Task" required>
                <button type="submit" class="button">Add</button>
            </form>

            <table>
                <tbody>
                    <% for (i=0;i<data.length;i++){%>
                    <tr>
                        <td><%=data[i].date%></td>
                        <td><%=data[i].subject%></td>
                        <td><%=data[i].todo%></td>
                        <td>
                            <form method="POST" action="/delete">
                                <input name="id" type="text" hidden value="<%=i %>">
                                <input type="submit" value="done" class="button">
                            </form>
                        </td>
                    </tr>
                    <%}%>
                </tbody>
            </table>
        </div>
    </center>
</body>
</html>