* {
    font-family: "Cinzel Decorative";
}

body {
    margin-top: 60px;
    background-image: url(/static/images/bg-1.png);
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
}

h1{
    font-size: 70px;
    color: whitesmoke;
}

#date{
    width: 16.3%;
}

.input-form{
    width: 22%;
    padding: 10px;
    margin: 8px 0;
    border-radius: 4px;
    border-color: gray;
    color: black;
}

.input-form:hover{
    border-color: palevioletred;
}

button{
    background-color: #e699b2; 
    padding: 8px;
    border-radius: 5px;
    cursor: pointer;
    width: 40px;
}

table{
    border-collapse: collapse;
    width: 80%;
    color: black;
}

td,th{
    padding: 8px;
    text-align: center;
    font-weight: bold;
    border: 1px solid black;
}

th{
    background-color: #e699b2;
}

tr:nth-child(even){
    background-color: #f0c2d1;
}

tr:nth-child(odd):hover {
    background-color: #faebf0;
}

.icon{
    color: white;
}


